<?xml version="1.0"?>
<configuration>
    <appSettings>
        
        <add key="userName" value="programmer"/>
        <add key="pwd" value="cui"/>
        <add key="serverUrl" value="G:\VssDB\srcsafe.ini"/>
        <add key="rootSourceFolder" value="$/CodeLib"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
