<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="VssInfoSection" type="CodeLib.WinFormsSamples.Components.VssInfoSection, CodeLib.WinFormsSamples"/>
    </configSections>
    <VssInfoSection dbPath="db" userName="andersc" password=""></VssInfoSection>
    
    <appSettings>
        <add key="AppTitle" value="CodeLib Windows Forms Samples"/>
    </appSettings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
